AVI/LogicApp/LogicAppCodeView.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_blob_is_added_or_modified_(properties_only)_(V2)": {
                "recurrence": {
                    "interval": 1,
                    "frequency": "Minute",
                    "timeZone": "Israel Standard Time",
                    "startTime": "2025-03-02T12:30:00Z"
                },
                "evaluatedRecurrence": {
                    "interval": 1,
                    "frequency": "Minute",
                    "timeZone": "Israel Standard Time",
                    "startTime": "2025-03-02T12:30:00Z"
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('https://',parameters('StorageAccountName'),'.blob.core.windows.net/'))}/triggers/batch/onupdatedfile",
                    "queries": {
                        "folderId": "@parameters('ContainerName')",
                        "maxFileCount": 10,
                        "checkBothCreatedAndModifiedDateTime": false
                    }
                }
            }
        },
        "actions": {
            "Create_SAS_URI_by_path_(V2)": {
                "runAfter": {
                    "initialized_varibable_RedactAccessToken": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "Permissions": "Read"
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(parameters('StorageAccountName'))}/CreateSharedLinkByPath",
                    "queries": {
                        "path": "@triggerBody()?['Path']"
                    }
                }
            },
            "Upload_video_and_index": {
                "runAfter": {
                    "Create_SAS_URI_by_path_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['videoindexer-v2-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent(parameters('LocationAVI'))}/Accounts/@{encodeURIComponent(parameters('AVIAccountID'))}/Videos",
                    "queries": {
                        "accessToken": "@body('Parse_JSON')?['accessToken']",
                        "name": "@triggerBody()?['Name']",
                        "videoUrl": "@body('Create_SAS_URI_by_path_(V2)')?['WebUrl']"
                    }
                }
            },
            "Redact_Faces_API": {
                "runAfter": {
                    "Delay": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://api.videoindexer.ai/@{parameters('LocationAVI')}/Accounts/@{parameters('AVIAccountID')}/Videos/@{variables('videoID')}/redact?name=@{variables('redactedFileName')}",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json",
                        "Authorization": "Bearer @{body('Parse_JSON')?['accessToken']}"
                    },
                    "body": {
                        "faces": {
                            "blurringKind": "HighBlur"
                        }
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Delay": {
                "runAfter": {
                    "initialized_var_redacted_file_name": [
                        "Succeeded"
                    ]
                },
                "type": "Wait",
                "inputs": {
                    "interval": {
                        "count": 4,
                        "unit": "Minute"
                    }
                }
            },
            "AVI_get_access_token-for_redaction": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                    "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionID')}/resourceGroups/@{parameters('RGName')}/providers/Microsoft.VideoIndexer/accounts/@{parameters('AVIAccountName')}/generateAccessToken?api-version=2024-01-01",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "permissionType": "Contributor",
                        "scope": "Account"
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_JSON": {
                "runAfter": {
                    "AVI_get_access_token-for_redaction": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('AVI_get_access_token-for_redaction')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "statusCode": {
                                "type": "integer"
                            },
                            "headers": {
                                "type": "object",
                                "properties": {
                                    "Cache-Control": {
                                        "type": "string"
                                    },
                                    "Pragma": {
                                        "type": "string"
                                    },
                                    "Vary": {
                                        "type": "string"
                                    },
                                    "x-ms-operation-identifier": {
                                        "type": "string"
                                    },
                                    "Access-Control-Allow-Credentials": {
                                        "type": "string"
                                    },
                                    "x-ms-ratelimit-remaining-subscription-writes": {
                                        "type": "string"
                                    },
                                    "x-ms-providerhub-traffic": {
                                        "type": "string"
                                    },
                                    "x-ms-request-id": {
                                        "type": "string"
                                    },
                                    "X-Content-Type-Options": {
                                        "type": "string"
                                    },
                                    "Strict-Transport-Security": {
                                        "type": "string"
                                    },
                                    "x-ms-correlation-request-id": {
                                        "type": "string"
                                    },
                                    "x-ms-ratelimit-remaining-subscription-global-writes": {
                                        "type": "string"
                                    },
                                    "x-ms-routing-request-id": {
                                        "type": "string"
                                    },
                                    "X-Cache": {
                                        "type": "string"
                                    },
                                    "X-MSEdge-Ref": {
                                        "type": "string"
                                    },
                                    "Date": {
                                        "type": "string"
                                    },
                                    "Content-Length": {
                                        "type": "string"
                                    },
                                    "Content-Type": {
                                        "type": "string"
                                    },
                                    "Expires": {
                                        "type": "string"
                                    }
                                }
                            },
                            "body": {
                                "type": "object",
                                "properties": {
                                    "accessToken": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "initialized_varibable_RedactAccessToken": {
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "RedactAccessToken",
                            "type": "string",
                            "value": "@body('Parse_JSON')?['body']?['accessToken']"
                        }
                    ]
                }
            },
            "Initialize_variable_video_ID": {
                "runAfter": {
                    "Upload_video_and_index": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "videoID",
                            "type": "string",
                            "value": "@body('Upload_video_and_index')?['id']"
                        }
                    ]
                }
            },
            "initialized_var_redacted_file_name": {
                "runAfter": {
                    "Initialize_variable_video_ID": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "redactedFileName",
                            "type": "string",
                            "value": "redacted@{triggerBody()?['Name']} "
                        }
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "AVIAccountID": {
                "defaultValue": "8b459a2e-d4d9-481a-9cbb-758953b9385b",
                "type": "String"
            },
            "SubscriptionID": {
                "defaultValue": "e7ff6db9-a379-4f16-823b-0a2bdde39ef4",
                "type": "String"
            },
            "StorageAccountName": {
                "defaultValue": "stavidigital",
                "type": "String"
            },
            "ContainerName": {
                "defaultValue": "container",
                "type": "String"
            },
            "RGName": {
                "defaultValue": "rg-avi",
                "type": "String"
            },
            "AVIAccountName": {
                "defaultValue": "avi-final",
                "type": "String"
            },
            "LocationAVI": {
                "defaultValue": "westeurope",
                "type": "String"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azureblob": {
                    "id": "/subscriptions/e7ff6db9-a379-4f16-823b-0a2bdde39ef4/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob",
                    "connectionId": "/subscriptions/e7ff6db9-a379-4f16-823b-0a2bdde39ef4/resourceGroups/rg-avi/providers/Microsoft.Web/connections/azureblob-1",
                    "connectionName": "azureblob-1",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "azureblob-1": {
                    "id": "/subscriptions/e7ff6db9-a379-4f16-823b-0a2bdde39ef4/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob",
                    "connectionId": "/subscriptions/e7ff6db9-a379-4f16-823b-0a2bdde39ef4/resourceGroups/rg-avi/providers/Microsoft.Web/connections/azureblob-2",
                    "connectionName": "azureblob-2"
                },
                "videoindexer-v2-1": {
                    "id": "/subscriptions/e7ff6db9-a379-4f16-823b-0a2bdde39ef4/providers/Microsoft.Web/locations/westeurope/managedApis/videoindexer-v2",
                    "connectionId": "/subscriptions/e7ff6db9-a379-4f16-823b-0a2bdde39ef4/resourceGroups/rg-avi/providers/Microsoft.Web/connections/videoindexer-v2-1",
                    "connectionName": "videoindexer-v2-1"
                }
            }
        }
    }
}